{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ job.name }}</h5>
            <p class="card-text">Skills : </p>
            <ul>
                {% for skill in skills %}
                    <li>
                        {{ skill.name }}
                    </li>
                {% endfor %}
            </ul>
            <p class="card-text">Candidatures : </p>
            <ul>
                {% for candidature in candidatures %}
                    <li>
                        <span>{{ candidature.candidate.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('edit_job', {id: job.id}) }}" class="card-link">Modifier</a>
            <a href="{{ path('new_candidature', {id: job.id}) }}" class="card-link">Postuler</a>
        </div>
    </div>
{% endblock %}



