{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
<div class="container p-2">

    <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ job.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Company : {{ company.name }}</h6>
                <p class="card-text">Skills : </p>
                <ul>
                    {% for skill in skills %}
                        <li>
                            {{ skill.name }}
                        </li>
                    {% endfor %}
                </ul>
                <p class="card-text">Candidatures : </p>
                <ul>
                    {% for candidature in candidatures %}
                        <li>
                           <a href="{{ path('details_candidature',{id: candidature.id}) }}"><span>Nom du candidat : {{ candidates[loop.index-1] }}</span></a>
                            <span>   Statut : {{ candidature.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('edit_job', {id: job.id}) }}" class="card-link">Modifier</a>
                <a href="{{ path('new_candidature', {id: job.id}) }}" class="card-link">Postuler</a>
            </div>
        </div>
</div>
{% endblock %}



