{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Coding Recrute</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('company_list') }}"><span class="sr-only">Company List</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('job_list') }}">Job List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Candidate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Skill</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ job.name }}</h5>
            <p class="card-text">Skills : </p>
            <ul>
                {% for skill in skills %}
                    <li>
                        {{ skill.name }}
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('edit_job', {id: job.id}) }}" class="card-link">Modifier</a>
        </div>
    </div>
{% endblock %}



