{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5">
        {{ form_start(form) }}

        <div class="form-group" style="margin-bottom: 1rem">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}



