{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group" style="margin-bottom: 1rem">
        {{ form_label(form.job) }}
        {{ form_widget(form.job,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group" style="margin-bottom: 1rem">
        {{ form_label(form.candidate) }}
        {{ form_widget(form.candidate,{'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_end(form) }}
{% endblock %}



